* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
header {
    background-color: rgb(95, 92, 92);
    color: white;
    padding: 10px 0;
    margin-bottom: 20px;
}

.container {
    width: 800px;
    margin:0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.menu {
    list-style: none;
}

button {
    background-color: aqua;
    color: white;
    font-family: sans-serif;
}

main {
    flex: 2;
}

aside {
    flex: 1;
    background-color: white;
    min-height:200px;
    align-self: flex-start;
}

.card {
    border: 2px solid grey;
    box-shadow: 2px black;
    margin-bottom: 20px;
}

.blue {
    background-color: teal;
}

.avatar-main {
    height: 75px;
    border-radius: 50%;
    position: relative;
    top: 40px;
    left: 20px;
}

span {
    border: 2px solid grey;
    color: black;
    border-radius: 50%;
    height:10px;
    width: 10px;
    background-color: grey;
}

.icon {
    height: 20px;
}

.justify-start {
    justify-content: flex-start;
}

.card-body {
    padding: 20px;  
}

.padding-top {
    padding-top: 63px;
}

.card .header {
    background-color:rgb(95, 92, 92);
    color: white;
    padding: 10px 20px;
}

.grey {
    color: grey;

}

.mb {
    margin-bottom: 10px;
}

.belt {
    font-size: smaller;
}


.header-three {
    background-color:rgb(95, 92, 92);
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.photo {
    height: 25px;
    border-radius: 50%;
}

.flex-2 {
    display: flex;
    justify-content:start;
    align-items: center;
    gap: 20px;
    margin-right: 70px;
}


.images{
    display:flex;
    justify-content: space-between;
    
}

.flex-3{
    margin-right: 20px;
    margin-top: 5px;
}

.final-box{
    padding-bottom: 20px;
    border-top: 2px solid grey;
}
.view{
    font-family: cursive;
    margin: 10px;
}

.connections {
    margin-top: 20px;
}









